## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
txt = "Hi there Sam!"
x = txt.split()
print(x)

['Hi', 'there', 'Sam!']

In [ ]:
txt="Hi there Dad!"
x=txt.split(" ")
print(x)

['Hi', 'there', 'Dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'a':[1,2,3,{'b':['oh','man','inception',{'c':[1,2,3,'hello']}]}]}

In [ ]:
d['a'][3]['b'][3]['c'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#Tuples are immutable. In tuples, the data cannot be change in our program and the data will always remain the same.
#Lists are mutable. We can add and remove items.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(inp):
  return inp.split('@')[1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(inp):
  return 'dog' in inp.lower().split()

In [ ]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [5]:
def dog(str):
  count=0
  for word in str.lower().split():
    if word=='dog':
      count=count+1;
  return count

In [6]:
dog('My dog name is Treato. I love my dog.')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
print(caught_speeding(90,True))

Big Ticket

In [ ]:
print(caught_speeding(80,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee = [["Harni S",50000],["Deepa G",52000],["Mahalakshmi M",51000],["Sharmila R",53000],["Gobika S",55000]]
total = 0
for i in employee:
  print(i[1])
  total += i[1]
  
print("Total salary expenditure =", total)

50000
52000
51000
53000
55000
Total salary expenditure = 261000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
first_dir = {
    "Empid" : 20,
    "Empname": "Harni S",
    "Basicpay" : 800000.00
}

second_dir = {
    "DeptName" : "CSE",
    "DeptId" : 2817
}


combine = {
    "Empid" : first_dir["Empid"],
    "Empname": first_dir["Empname"],
    "Basicpay" : first_dir["Basicpay"],
    "DeptName" : second_dir["DeptName"],
    "DeptId" : second_dir["DeptId"]
}

print(combine)

{'Empid': 20, 'Empname': 'Harni S', 'Basicpay': 800000.0, 'DeptName': 'CSE', 'DeptId': 2817}